body {
    background-image: url('img/bg.jpg');
    background-color: royalblue;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#main {
    color: aliceblue;
}

.button {
    border-radius: 8px;
    margin-top: 10px;
}

form {
    width: 200px;
    padding: 20px;
    background-color: rgba(5, 33, 56, 0.8);
    border-radius: 10px;
}

form input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.nick-icon {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
